theme = "catppuccin_macchiato_transparent"

[editor]
auto-format = false
bufferline = "multiple"
color-modes = true
cursorline = true
line-number = "relative"
rulers = [80, 100]
text-width = 90
trim-final-newlines = true
trim-trailing-whitespace = true

# Diagnostics
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.auto-save]
focus-lost = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker] # settings also apply to global search
hidden = false

[editor.indent-guides]
render = true

[keys.normal]
tab = "move_parent_node_end"
S-tab = "move_parent_node_start"

x = "select_line_below"
X = "select_line_above"

# Splits: use ctrl+<key> combos; Ghostty uses ctrl+shift+<key> instead.
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"

C-s = ":update"
C-A-s = "save_selection" # in jumplist
C-q = ":quit"
C-A-w = ":buffer-close" # don't use C-w since that is used for default keybinds

# WARNING: you might lose your windows because a window is just a viewport on a buffer.
space.w.O = ":buffer-close-others" # similar to what space.w.o does for windows

# Open Yazi file explorer
C-e = [
  ':sh rm -f /tmp/hx-yazi-selection',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/hx-yazi-selection',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/hx-yazi-selection}',
  ':redraw',
  ':set-option mouse false',
  ':set-option mouse true',
]

[keys.insert]
S-tab = "move_parent_node_start"

[keys.select]
tab = "extend_parent_node_end"
S-tab = "extend_parent_node_start"

x = "select_line_below"
X = "select_line_above"

# Create a new minor mode (space.l) for common tasks.
[keys.normal.space.l]
f = ":format"
i = ":toggle lsp.display-inlay-hints"
q = ["extend_to_line_bounds", ":reflow"]
s = ["split_selection_on_newline", ":sort -i", "keep_primary_selection", "collapse_selection"]
z = ":toggle soft-wrap.enable"
