// Reference: https://docs.noctalia.dev/v4/getting-started/keybinds/#example-configurations
binds {
    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute        { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute     { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }

    XF86MonBrightnessUp   { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    XF86Favorites       { spawn "noctalia-shell" "ipc" "call" "powerProfile" "set" "performance"; }
    Shift+XF86Favorites { spawn "noctalia-shell" "ipc" "call" "powerProfile" "set" "balanced"; }

    Mod+Alt+L allow-when-locked=true hotkey-overlay-title="Lock Screen"       { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+X     repeat=false           hotkey-overlay-title="Power Menu"        { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+Shift+Comma                  hotkey-overlay-title="Noctalia Settings" { spawn "noctalia-shell" "ipc" "call" "settings" "toggle";  }

    Mod+N  hotkey-overlay-title="Notification Center" { spawn "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"; }
    Mod+Shift+N hotkey-overlay-title="Control Center" { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
}
