/**/themes

# DankMaterialShell
*dankcolors*
/DankMaterialShell/*
!/DankMaterialShell/settings.json

# niri
/niri/dms/*
!/niri/dms/colors.kdl
!/niri/dms/cursor.kdl

!/helix/themes

/jj/repos

/zed/settings_backup.json
