/**/themes

# DankMaterialShell
*dankcolors*
/DankMaterialShell/*
!/DankMaterialShell/settings.json

# niri
/niri/dms/*
!/niri/dms/colors.kdl
!/niri/dms/cursor.kdl

!/helix/themes

/espanso/match/packages

/jj/repos

/pika-backup/**
!/pika-backup/backup.json

/ssh/**
!/ssh/config
