name: Update Flake Inputs
on:
  schedule:
    - cron: '0 4 * * *' # every day at 04:00 UTC
  workflow_dispatch: # allows manual triggering
jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "flake: update all inputs"
          pr-labels: |
            dependencies
            automated
